# Suggest ${VAR} in place of $VAR
enable=require-variable-braces
# Suggest explicitly using -n in `[ $var ]`
enable=avoid-nullary-conditions
# Suggest [[ ... ]] in place of [ ... ]
enable=require-double-brackets